body {
	text-align: center;
}

thead {
	background-color: gray;
}

tbody {
	background-color: pink;
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: pink;
}

a:active {
	text-decoration: none;
	font-weight: bold;
}
/*
#hero {
	height: 400px;
	background: url("http://static.djbooth.net/pics-albums/slaughterhouse-onthehouse.jpg") no-repeat center;
}*/

.scary {
	font-family: 'Amatic SC', cursive;
}

.band {
	font-style: italic;
}
