body {
  text-align: center;
}

.reg {
  font-weight: normal;
}

.main {
  background-color: pink;
  text-align: center;
  
}

#carousel-example-generic {
  padding: 10px;
}

#beverages {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#beverages th {
  text-align: center;
}

a:visited {
  color: purple;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

header h1 {
  font-family: 'Amatic SC', cursive;
}

nav, footer {
  font-family: verdana;
  text-align: left;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

nav {
  padding: 10px 0px 10px 0px;
  } a {
  padding: 5px;
}
